<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.car_sales.car.mapper.SalesMapper">
    <resultMap id="sales" type="com.green.car_sales.car.dto.SalesDTO">
        <id     column="SALES_NUMBER" property="salesNumber" />
        <result column="CUSTOMER_NAME" property="customerName" />
        <result column="CUSTOMER_PHONE" property="customerPhone" />
        <result column="MODEL_COLOR" property="modelColor" />
        <result column="SALE_DATE" property="saleDate" />
        <result column="MODEL_NUMBER" property="modelNumber" />
    </resultMap>

    <!-- 판매정보 등록 쿼리-->
    <insert id="insertSales">
        INSERT INTO SALES_INFO (
            CUSTOMER_NAME
            , CUSTOMER_PHONE
            , MODEL_COLOR
            , MODEL_NUMBER
        ) VALUES (
            #{customerName}
            , #{customerPhone}
            , #{modelColor}
            , #{modelNumber}
        )
    </insert>

    <!-- 판매정보 목록 조회 쿼리-->
    <select id="selectSalesList" resultType="map">
        SELECT SALES_NUMBER
            , CUSTOMER_NAME
            , CASE
            WHEN CUSTOMER_PHONE IS NULL OR CUSTOMER_PHONE = ''
            THEN '-'
            ELSE CUSTOMER_PHONE
            END AS CUSTOMER_PHONE
            , SALE_DATE
            , MODEL_COLOR
            , MODEL_NAME
            , MODEL_PRICE
        FROM SALES_INFO S, CAR_INFO C
        WHERE S.MODEL_NUMBER = C.MODEL_NUMBER
        ORDER BY SALE_DATE DESC;
    </select>

</mapper>































