

.search_div{
  /* display : flex를 주는순간 높이가 맞춰짐 */
  /* 왜why? flex는 주축과 교차축이 중요한데
    주축이 기본적으로 가로라서 왼쪽에 3개가 모일거임
    교차축방향으로는 기본적으로 stretch. 영역만큼 늘어남.
    그렇기때문에 <select>,<input>,<button>의 높이가 같아지는거임 */
  display: flex;
  /* justify-content:end 는 맨 오른쪽으로 컨텐트들 몰빵하는거임 */
  justify-content: end;
  /* gap: px -> content끼리 사이에 간격을 만들어주는거임 */
  gap: 8px;
}




.list_div{
  margin: 20px 0px;
}

.list_table{
  /* 글자 가운데 */
  text-align: center; 
  width: 100%;
}

/* 자손은 클래스 띄우고적기 */
.list_table td{
  /* 상하px 좌우px */
  padding: 8px 12px;
}

/* 표에서 thead 윗부분 진한 선 테두리, 밑부분 연한선 테두리*/
.list_table > thead > tr{
  border-top: 2px solid black;
  border-bottom: 1px solid black;
  background-color: black;
  color: white;
  /* 글씨 굵게 */
  font-weight: bold;
}

.list_table > tbody > tr{
  border-bottom: 1px solid #666666;
}

/* 가상클래스 nth-child() (even):짝수, (odd):홀수*/
.list_table > tbody > tr:nth-child(even){
  /* rgba 숫자 4개들어감, 0~255 : 0에가까울수록 원래색에 가까운색 */
  /* 빛이 쎄질수록 밝아짐 = 숫자 높일수록 밝아짐 */
  background-color: rgba(200, 200, 200, 0.1)

}
/* 가상클래스 hover 마우스올리면 */
.list_table > tbody > tr:hover{
  background-color: rgba(200, 200, 200, 0.2);
}

/* 테이블에서 각 컬럼의 너비를 조절하는방법 : css에서하는게아님.
  html에서 하는거임. */

/* 가상클래스 td:nth-child(2) 는 두번째td에만 디자인주겠다는거임. */
.list_table > tbody > tr > td:nth-child(2){
  text-align: left;
}

/* 인라인애들은 중간에 두려면 부모한테 텍스트얼라인센터해야됨*/
.btn_div{
  text-align: center;
}