.container{
  border: 3px solid black;
  width: 500px;
  height: 400px;
  margin: 50px auto;
  
}
.header{
  display: flex;
  height: 10%;
  border: 3px solid lawngreen;
}
.header > div:first-child{
  border: 3px solid red;
  width: 60%;
}  
.header > div:last-child{
  border: 3px solid blue;
  width: 40%;
}
.main{
  height: 80%;
  display: flex;
  border: 3px solid pink;
}
.main > div:first-child{
  width: 20%;
  border: 3px solid brown;
}
.main > div:last-child{
  width: 80%;
  border: 3px solid brown;
}

.last{
  height: 10%;
}