body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}

.title{
  background-color: darkblue;
  color: white;
  display: flex;
  justify-content: space-between;
}

.title-1{
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  margin-left: 40px;
}

.title-2{
  display: flex;
  background-color: darkcyan;
  width: 60%;
  justify-content: center;
  align-items: center;
  margin: 25px 0px;
  gap: 80px;
  padding: 15px;
}

.picture{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.picture > p{
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  padding: 10px;
  width: 300px;
  height: 100px;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

span{
  font-size: 10px;
}



.main1{
  display: flex;
}

.main1 > div{
  border: 1px solid black;
  width: 100%;
}


.main1-1{
   background-color: lightskyblue

}

.main1-2{

}

.main1-2 > div{
  position: absolute;
}

.main2{
  background-color: rgb(190, 190, 211);
  display: flex;
  padding: 30px;
}








