body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(184, 235, 235);
}

.container{

  width: 400px;
  height: 450px;
}

.container > div{
  margin-bottom: 10px;
}

.addr-div{
  display: flex;
  background-color: white;
  border-radius: 5px;
  gap: 10px;
  width: 100%;
  height : 80px;
  padding: 5px 7px;
  align-items: center;
  transition: all 0.5s;
}

.addr-div:hover{
  scale: 1.1;
}

img{
  border-radius: 50%;
  border: 1px solid lightgray;
}
p{
  color:gray;
}