.container{
  margin: 30px auto; /* 모든 바깥 여백을 가운데로*/
  width: 500px;
}

.title{
  text-align: center;
  margin-bottom: 0px;
}

.right{
  text-align: right;
  margin: 0px;
}

.btn-div{
  text-align: right;
  margin-top: 20px;
}
table{
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

tr, td{
  border: 1px solid black;
}

/* 
  1rem -> 16px
  font-size : 1rem;
  font-size : 0.9rem  
*/

.caption{
  margin: 0px;
  color: red;
  font-size: 0.8rem;
}