.container{
  width: 500px;
  height: 400px;
  margin: 30px auto;
  border: 3px solid black;
}
.container > div:first-child{
  width: 100%;
  height: 20%;
  border: 3px solid lightsalmon
}
.container > div:last-child{
  width: 100%;
  height: 80%;
  border: 3px solid lightgreen
}
.main{
  display: flex;

}
.main1{
  width: 60%;
  border: 3px solid green;
}
.main2{
  width: 40%;
  border: 3px solid green;
  display: flex;
  flex-direction: column;
}
.main2 > .item{
  border: 3px solid blue;
  width: 100%;
  height: 100%;

}
