.container{
  display: flex;
  border: 3px solid black;
  height: 100px;
  background-color: black;
  color: white;
  line-height: 90px;
}
.memo{
  width: 50%;
  border: 1px solid black;
}
.menu{
  width: 50%;
  display: flex;
  justify-content: flex-end;
  border: 1px solid black;
}
.menu > item{
  border: 1px solid black;


}
.container > div:last-child > .item{
  border: 1px solid black;
  width: 70px;
  padding: 3px;
}