body{
  background-color: cornflowerblue;
  display: flex;
  /* height: 100vh; */
  justify-content: center;
}

.container{
  background-color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1000px;

  padding: 10px;
  margin-top: 30px;
}

.title{
  display: flex;
  flex-direction: column;
  padding: 0px 100px;
  margin-bottom: 10px;
  
}
button{
  border: 1px solid black;
  border-radius: 8px;
  padding: 5px 10px;
  width: 90px;
  background-color: pink;
  color: white;
  font-weight: 550;
  border: none;
}

span{
  color: green;
}

.picture{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2 1fr);
  gap: 10px;

}

img{
  width: 100%;
  height: 100%;
}

