.container{
  border: 1px solid black;
  border-radius: 3%;
  width: 400px;
  height: 800px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.title{
  border-bottom: 1px solid lightblue;
  width: 330px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
 
}